body {
  background-color: #B7999C;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
  margin-left: 2em;
}
h1 {
  color: #322025;
}

h2 {
  color: #322025;
}

h3 {
  color: #322025;
}
p {
 color: #322025;
}